.DS_Store
node_modules
.tmp
.sass-cache

# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.-workspace
*.workspace

# sftp configuration file
sftp-config.json

# General CodeKit files to ignore
config.codekit
/min